@import 'template';


	#container{
	width:80%;
	margin:0 auto;
	background-color:rgba(0,0,0,.5);
	margin-top:50px;
    text-align:center;

    
	 .restroom{
	 	width:800px;
	 	height:500px;
	 }

	 .commodity{
	 	width:400px;
	 	height:250px;
	 }

    }


